$oscuro: #2E2E2E;
$amarillo: #F2ED72;
$rosa: #FFB9DB;
$rosaCrema: #FFE3CE;
$celeste: #C2F4FF;
$amarilloClaro: #FFEBB9;
$morado: #C0C4E9;
$oscuroSecundario: #3E3E3E;
$verde: #DAF6CC;
$blanco: #FFF;
$fuenteTitulos: 'Syncopate', sans-serif;
$fuenteParrafos: 'Roboto Mono', monospace;
$fuenteTamanio: (45px, 40px, 20px, 18px);